:root{
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD982;
    --white: #ffffff;
    --black: #000000;
    --sm: 1.5rem;
    --md: 1.8rem;
    --lg: 2rem;
}
html{
    font-size: 62.25%;
}
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

/*UTILIDADES*/
.inactive{
    display: none;
}
/*img{
    width: 24rem;
    height: 24rem;
}*/
/*BARRA DE MENU EN EL ENCABEZADO*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2.2rem;
    border-bottom: 0.1rem solid var(--very-light-pink);
}
.menu{
    display: none;
}
.logo{
    width: 10rem;
    margin-right: 2rem;
}
.navbar-left{
    display: flex;
}
.navbar-left ul,
.navbar-right ul{
    list-style: none;
    padding: 0;
    margin: 2rem;
    display: flex;
    align-items: center;
    height: 6rem;
}
.navbar-right{
    display: flex;
}
.navbar-left ul li a,
.navbar-righr ul li a{
    text-decoration: none;
    margin: 0 1rem 0;
    padding: 0.8rem;
    color: var(--very-light-pink);
    border: 0.1rem solid var(--white);
    border-radius: 0.8rem;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
    color: var(--hospital-green);
    border: 0.1rem solid var(--hospital-green)
}
.navbar-email{
    cursor: pointer;
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 1.2rem;
}
.navbar-shopping-cart{
    position: relative;
    cursor: pointer;
}
.navbar-shopping-cart div{
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    color: var(--black);
    position: absolute;
    top: -0.6rem;
    right: -0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*MENU DE INGRESAR*/
.desktop-menu{
    position: absolute;
    top: 10rem;
    right: 20rem;
    width: 10rem;
    height: auto;
    border: 0.2rem solid var(--very-light-pink);
    border-radius: 0.6rem;
    padding: 2rem 2rem 0 2rem;
    background-color: var(--white);
}
.desktop-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li{
    text-align: end;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2){
    font-weight: bold;
    font-size: var(--sm);
}
.desktop-menu ul li:last-child{
    padding-top: 2rem;
    border-top: 0.2rem solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a{ 
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a{
    display: inline-block; 
    color: var(--black);
    text-decoration: none;
    margin-bottom: 2rem;
}

/*MENÚ PARA DISPOSITIVOS MOBILES*/
.mobile-menu{
    width: 100%;
    position: absolute;
    left: 0;
    top: 10rem;
    padding: 2.4rem;
    background-color: var(--white);
}
.mobile-menu a{
    color: var(--black);
    font-size: var(--sm);
    font-weight: bold;
    text-decoration: none;
}
.mobile-menu ul{
    padding: 0;
    margin: 2.4rem 0 0;
    list-style: none;
}
.mobile-menu ul li{
    margin-bottom: 2.4rem;
}
.mobile-menu ul:nth-child(1){
    border-bottom: 0.2rem solid var(--very-light-pink);
}
.email {
    font-size: var(--sm);
    font-weight: 300 !important;
}
.sign-out{
    color: var(--hospital-green) !important;
    font-size: var(--sm);
}
/*AREA DEL ASIDE ORDEN DE PRODUCTOS*/
.product-detail{
    background-color: var(--white);
    box-sizing: border-box;
    width: 36rem;
    padding: 0 2.4rem;
    position: absolute;
    right: 0;
}
.title-container{
    display: flex;
}
.title-container img{
    transform: rotate(180deg);
    margin-right: 1.4rem;
}
.my-order-conten{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: var(--lg);
    font-weight: bold;
}
.order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 2.2rem;
    border-radius: 0.9rem;
    padding: 0 2.2rem;
}
.order p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.order p:nth-child(2){
    text-align: center;
    font-weight: bold;
}
.order p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.shopping-cart{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 2rem;
    margin-bottom: 2.2rem;
    align-items: center;
}
.shopping-cart figure{
    margin: 0;
}
.shopping-cart figure img{
    width: 7rem;
    height: 7rem;
    border-radius: 2rem;
    object-fit: cover;
}
.shopping-cart p:nth-child(2){
    color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}
.primary-btn{
        background-color: var(--hospital-green);
        border-radius: 0.9rem;
        border: none;
        color: var(--white);
        width: 100%;
        cursor: pointer;
        font-size: var(--md);
        font-weight: 900;
        height: 5rem;
}
.add-to-cart-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*SECCIÓN LISTA DE PRODUCTOS*/
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 24rem);
    gap: 2rem;
    place-content: center;
    margin-top: 2rem;
}
.product-card{
    width: 24rem;
    
}
.product-image{
    width: 24rem;
    height: 24rem;
    border-radius: 2rem;
    object-fit: cover;

}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-info figure{
    margin: 0;
}
.product-info figure img{
    width: 3.5rem;
    height: 3.5rem;
}
.product-info div p:nth-child(1){
    font-weight: 900;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 0.4rem;
}
.product-info div p:nth-child(2){
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}

/*SECCIÓN PRODUCTO ESCOGIDO(checkout)*/

.product-detail-check{
    width: 36rem;
    margin-top: 2rem;
    padding-bottom: 2.4rem;
    position: absolute;
    right: 0;
}
.product-detail-close{
    background: var(--white);
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 2.4rem;
    left: 2.4rem;
    z-index: 2;
    padding: 1.2rem;
    border-radius: 50%;
}
.product-detail-close:hover{
    cursor: pointer;

}
.product-detail-check > img:nth-child(2){
    width: 100%;
    height: 36rem;
    object-fit: cover;
    border-radius: 0 0 2rem 2rem;
}
.product-info-check{
    margin: 2.4rem 2.4rem 0 2.4rem;
}
.product-info-check p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 0.2rem;
}
.product-info-check p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 3.6rem;
}
.product-info-check p:nth-child(3){
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 3.6rem;
}
.primary-btn{
        background-color: var(--hospital-green);
        border-radius: 0.9rem;
        border: none;
        color: var(--white);
        width: 100%;
        cursor: pointer;
        font-size: var(--md);
        font-weight: 900;
        height: 5rem;
}
.add-to-cart-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*MEDIA QUERIES PARA RESPONSIVE*/

@media (max-width: 640px){
    .menu{
        display: block;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-email{
        display: none;
    }
    .desktop-menu{
        display: none;
    }
    .product-detail{
        width: 100%;
        
    }
    .cards-container{
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card{
        width: 14rem;
    }
    .product-image{
        width: 14rem;
        height: 14rem;
    }
}

@media (min-width: 641px){
    .mobile-menu{
        display: none;
    }
}